body {
    margin: 0;
}

canvas {
    display: block;
}

#infoOverlay {
    top: 20%;
    left: 30%;
    position: fixed;
   background-color: white;
   width: 300px;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   display: none;
}